.l-post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-post-list__item {
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
  padding-bottom: 0.5rem;

  &:last-child {
    border: none;
  }
}

.l-post-list--grid {
  @media @mq-md {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

.l-post-list__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.l-post-list__heading-title {
  margin: 0;
}