{{ define "main" }}
<div class="l-container">
  <article class="c-post" itemscope itemtype="http://schema.org/Article">
    <div class="c-post__header">

      <h1 itemprop="name headline" class="c-post__headline">{{ .Title }}</h1>

    </div>

    <div class="c-post__content">
      {{ .Content }}
    </div>

    <div class="c-share-container">

      {{ if .Params.Categories }}
      <div class="c-post__categories">
        <small>Categories: &nbsp;</small>
        <ul class="c-post__categories-list">
          {{ range .Params.Categories }}
          <li class="c-post__categories-item">
            <a href="/category/{{ . | urlize }}">
              <small>{{ . }}</small>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </article>
</div>
<div class="c-post__navigation">
  {{ with .PrevInSection }}
  <a rel="prev" href="{{ .Permalink }}" class="c-post__navigation-item">
    {{ if .Params.cover_image }}
    <img src="https://res.cloudinary.com/dab4jaczr/image/upload/w_200,f_auto,q_20/v1536498344/{{ .Params.cover_image }}"
      alt="{{ .Params.cover_image_alt }}" class="c-post__navigation-image">
    {{ end }}
    <div class="c-post__navigation-item-text">
      <p>Previously...</p>
      <p class="c-post__navigation-item-title">{{ .Title }}</p>
    </div>
  </a>
  {{ end }}
  {{ with .NextInSection }}
  <a rel="next" href="{{ .Permalink }}" class="c-post__navigation-item">
    {{ if .Params.cover_image }}
    <img src="https://res.cloudinary.com/dab4jaczr/image/upload/w_200,f_auto,q_20/v1536498344/{{ .Params.cover_image }}"
      alt="{{ .Params.cover_image_alt }}" class="c-post__navigation-image">
    {{ end }}
    <div class="c-post__navigation-item-text">
      <p>Up Next...</p>
      <p class="c-post__navigation-item-title">{{ .Title }}</p>
    </div>
  </a>
  {{ end }}
</div>
{{ end }}
