.c-hero {
  padding: 2rem 0;
  border-bottom: 1px solid var(--c-off-white);
  margin-bottom: 2rem;

  @media @mq-md {
    padding: 3rem 0 5rem 0;
    margin-bottom: 5rem;
  }

  @media @mq-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5rem;
    min-height: 75vh;
  }
}

.c-hero__title {
  .fluid-property(60, 205, 600);
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.2em;

  @media @mq-md {
    margin-top: 0;
  }
}

.c-hero__subtitle {
  .fluid-property(16, 26, 600);

  @media @mq-sm {
    margin-bottom: 0.3em;
    text-align: right;
  }
}

.c-hero__highlight {
  color: var(--c-primary);
  font-style: italic;
}


.c-hero__cta {
  @media @mq-sm {
    text-align: right;
  }
}

.c-hero__cta-link {
  margin-right: 1em;

  @media @mq-sm {
    margin-right: 0;
    margin-left: 1em;
  }
}
