.c-hero {
  padding: 2rem 0;

  @media @mq-md {
    padding: 3rem 0 5rem 0;
  }
}

.c-hero__title {
  .fluid-property(30, 100);
  font-weight: 700;
}

.c-hero__title-highlight {
  color: var(--c-primary);
  font-style: italic;
  text-shadow: 5px 2px #cf12591f;
}


.c-hero__cta {
  .c-btn {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
