//======= Nav =======//

.c-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--c-white);
  padding: 1rem;
}

@media @mq-sm {
  .c-nav {
    flex-direction: row;
  }
}

@media @mq-md {
  .c-nav {
    display: grid;
    grid-template-columns: 100px auto;
  }
}

//======= Nav Logo =======//

.c-nav__logo {
  display: block;
  background-color: var(--c-primary);
  width: 35px;
  height: 35px;
  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    14% 14%,
    75% 25%,
    86% 85%,
    21% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    14% 14%,
    75% 25%,
    86% 85%,
    21% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  transition: clip-path ease 0.3s;
}

.c-nav__logo-container {
  display: block;

  &:hover .c-nav__logo {
    -webkit-clip-path: polygon(
      0% 0%,
      0% 100%,
      25% 100%,
      25% 25%,
      75% 25%,
      75% 75%,
      25% 75%,
      25% 100%,
      100% 100%,
      100% 0%
    );
    clip-path: polygon(
      0% 0%,
      0% 100%,
      25% 100%,
      25% 25%,
      75% 25%,
      75% 75%,
      25% 75%,
      25% 100%,
      100% 100%,
      100% 0%
    );
  }
}

//======= Nav Title =======//

.c-nav__title-container {
  color: var(--c-white);
  margin-right: 1.5rem;
}

//======= Nav Inner =======//

.c-nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 1rem;
  width: 100%;
}

@media @mq-sm {
  .c-nav__inner {
    width: auto;
    margin-top: 0;
    flex-grow: initial;
    justify-content: initial;
  }
}

//======= Nav Icon =======//

.c-nav__icon {
  position: relative;
  top: 2px;
  width: 20px;
  height: 20px;
}

//======= Nav Link =======//

.c-nav__link {
  display: block;
  color: var(--c-primary);
  text-decoration: none;

  &:hover,
  &.is-active {
    text-decoration: underline;
  }
}

@media @mq-sm {
  .c-nav__link {
    margin-right: 1rem;
  }
}