.c-post {
  margin-bottom: 3em;

  img:not(.c-post__author-image) {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &:not(.c-post--preview) {
    margin-top: 3rem;

    .c-post__date {
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
      color: var(--c-grey);
    }
  }
}


@media @mq-lg {
  .c-post {
    &:not(.c-post--preview) {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    .has-toc & {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@media @mq-xl {
  .c-post {
    &:not(.c-post--preview) {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    .has-toc & {
      max-width: 80%;
      margin-left: 0;
    }
  }
}

.c-post--preview {
  margin-bottom: 0;
}

.c-post__date {
  display: block;
  color: var(--c-grey);
  min-width: 60px;
}

.c-post__title--preview {
  margin: 0;
}

.c-post__title-link {
  font-weight: 400;
  color: var(--c-primary);
  text-decoration: none;

  &:hover {
    color: var(--c-secondary);
  }
}

@media @mq-md {
  .c-post__title--preview {
    font-size: var(--text-lg);
  }

  .c-post-preview__heading {
    display: flex;

    .c-post__date {
      margin-right: 0.25rem;
    }
  }
}

.c-post__categories,
.c-post__categories-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-post__categories {
  margin-bottom: 1rem;
  font-size: .9rem;
}

.c-post__categories-title {
  font-size: .8em;
  position: relative;
  top: .1em;
}

.c-post__categories-item {
  margin: 0 .5rem 0 0;
}

.c-post-preview__heading--stacked {
  display: block;
}

.c-post__date--small {
  font-size: 0.9rem;
}

.c-post__navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.c-post__navigation-item {
  position: relative;
  background-color: var(--c-primary);
  color: #fff;
  overflow: hidden;
  text-decoration: none;
  transition: background-color ease 0.2s, color ease 0.2s;

  &:hover, &:active, &:focus {
    color: var(--c-primary);
    background-color: #fff;

    .c-post__navigation-image {
      opacity: 0.2;
    }
  }
}

.c-post__navigation-item-text {
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.c-post__navigation-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.c-post__navigation-item-title {
  font-family: var(--font-headings);
  font-size: var(--text-lg);
}

.c-post__author-image {
  display: block;
  float: right;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin-left: 25px;
  width: 100px;
  height: 100px;

  @media @mq-sm {
    width: 240px;
    height: 240px;
  }
}

.c-post__headline {
  margin-top: 0;
  margin-bottom: var(--space-md);
}

@media @mq-md {
  .c-post__columns {
    columns: 3;
    text-align: left;
    margin-bottom: var(--space-md);

    p:first-child {
      margin-top: 0;
    }
  }
}

.c-post__cover-image {
  position: sticky;
  top: 0;
  height: 50vh;
  overflow: hidden;
  // filter: blur(var(--coverImageBlur)); // need to disable this as it kills performance on FireFox
  transform: translateY(var(--coverImageTranslateY));
  will-change: transform;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media @mq-md {
  .c-post__cover-image {
    height: 70vh;

    img {
      height: auto;
      object-fit: initial;
    }
  }
}

.c-post__body {
  position: relative;
  z-index: 1;
  padding-top: 2rem;
  background-color: var(--c-white);
}

.c-post__header,
.c-post__content {
  padding: 0 1rem;
  max-width: 65ch;
  margin: 0 auto;
}

.c-post__content {
  padding-bottom: 3rem;

  ul {
    list-style: disc;
  }
}

@media @mq-lg {
  .c-post__image-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
  }
}
