.c-post {
  margin-bottom: 3em;

  &:not(.c-post--preview) {
    .c-post__date {
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
      color: var(--c-grey);
    }
  }

  .has-toc & {
    margin-left: 3rem;
  }
}

@media @mq-lg {
  .c-post {
    &:not(.c-post--preview) {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    
    .has-toc & {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@media @mq-xl {
  .c-post {
    &:not(.c-post--preview) {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    
    .has-toc & {
      max-width: 70%;
      margin-left: 0;
    }
  }
}

.c-post--preview {
  margin-bottom: 0;
}

.c-post__date {
  display: block;
  color: var(--c-grey);
  min-width: 70px;
}

.c-post__title--preview {
  margin: 0;
}

.c-post__title-link {
  color: var(--c-primary);
  text-decoration: none;

  &:hover {
    color: var(--c-secondary);
  }
}

@media @mq-md {
  .c-post-preview__heading {
    display: flex;
    align-items: center;

    .c-post__date {
      margin-right: 0.25rem;
    }
  }
}

.c-post__categories,
.c-post__categories-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-post__categories {
  margin-bottom: 1rem;
}

.c-post__categories-item {
  margin-right: 1rem;
}

.c-post-preview__heading--stacked {
  display: block;
}

.c-post__date--small {
  font-size: 0.9rem;
}