.c-touchpoint {
  text-align: center;
  
  @media @mq-md {
    p {
      margin-bottom: 0;
      color: #b1b1b1;
    }
  }
}

.c-touchpoint__title {
  display: inline-block;
  margin-bottom: 0;

  @media @mq-md {
    font-size: 1.8rem;
  }
}

.c-touchpoint__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  color: var(--c-primary);
}