.c-wrapper {
  position: relative;
  padding: 2rem 0;

  @media @mq-md {
    padding: 3rem 0;
  }

  @media @mq-lg {
    padding: 4rem 0;
  }
}

.c-wrapper--light {
  background-color: var(--c-off-white);
}

.c-wrapper--dark {
  background-color: #343434;
  background-color: var(--c-off-black);
  color: var(--c-off-white);
}

.c-wrapper__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 2rem;

  @media @mq-md {
    text-align: center;
  }
}
