/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'), url('/fonts/pt-sans-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/pt-sans-v10-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url('/fonts/pt-serif-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/pt-serif-v10-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url('/fonts/pt-serif-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/pt-serif-v10-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --c-primary: #0d324d;
  --c-secondary: #7f5a83;
  --c-secondary-light: #c1accd;
  --c-accent: #9BDEAC;
  --c-hero-bg: #EAD3C1;
  --c-hero-text: var(--c-off-black);
  --c-hero-highlight: #5d4854;
  --c-black: #222;
  --c-off-black: #1c1c1c;
  --c-white: #fff;
  --c-off-white: #f5f5f5;
  --c-almost-white: #f2f3f4;
  --c-gray: #505050;
  --c-grey: #505050;
  --font-body: 'PT Sans', sans-serif;
  --font-body-serif: 'PT Serif', serif;
  --font-headings: 'PT Serif', serif;
  --font-mono: 'Operator Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
  --text-sm: 0.9em;
  --text-regular: 1em;
  --text-md: 1.2em;
  --text-lg: 1.5em;
  --text-xl: 2em;
  --text-xxl: 3em;
  --text-xxxl: 4em;
  --space-sm: 0.5em;
  --space-md: 0.8em;
  --space-lg: 1.5em;
  --space-xl: 3.5em;
  --space-xxl: 5em;
}
/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}
audio {
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
ul,
ol {
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding-left: 1.1em;
}
li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
html {
  font-size: 1.125em;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: initial;
  }
}
body {
  font-family: 'PT Sans', sans-serif;
  font-family: var(--font-body);
  background-color: #fff;
  background-color: var(--c-white);
  color: #1c1c1c;
  color: var(--c-off-black);
  line-height: 1.735;
}
::selection {
  background-color: #0d324d;
  background-color: var(--c-primary);
  color: #fff;
  color: var(--c-white);
}
.content {
  min-height: calc(100vh - 71px - 171px);
}
p {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif', serif;
  font-family: var(--font-body-serif);
  font-weight: 400;
  color: var(--c-headings);
  line-height: 1.2;
}
h1,
h2 {
  font-family: 'PT Serif', serif;
  font-family: var(--font-headings);
  letter-spacing: -1px;
}
h1 {
  font-size: 1.8571em;
  margin: 0 0 0.8077em 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-image: linear-gradient(315deg, var(--c-secondary) 0%, var(--c-primary) 74%);
}
h2 {
  font-size: 1.7143em;
  margin: 0 0 0.875em 0;
}
h3 {
  font-size: 1.5714em;
  margin: 0 0 0.9545em 0;
}
h4 {
  font-size: 1.4286em;
  margin: 0 0 1.05em 0;
}
h5 {
  font-size: 1.2857em;
  margin: 0 0 1.1667em 0;
}
h6 {
  font-size: 1.1429em;
  margin: 0 0 1.3125em 0;
}
@media only screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
  }
  h1 {
    font-size: 4em;
    font-size: var(--text-xxxl);
    margin: 0.5em 0;
    margin: var(--space-sm) 0;
  }
  h2 {
    font-size: 3em;
    font-size: var(--text-xxl);
    margin: 0.8em 0;
    margin: var(--space-md) 0;
  }
  h3 {
    font-size: 2em;
    font-size: var(--text-xl);
    margin: 0.5em 0;
    margin: var(--space-sm) 0;
  }
  h4 {
    font-size: 1.5em;
    font-size: var(--text-lg);
    margin: 0.5em 0;
    margin: var(--space-sm) 0;
  }
  h5 {
    font-size: calc(1em + 0.06em);
    font-size: calc(var(--text-regular) + 0.06em);
    margin: 0.8em 0;
    margin: var(--space-md) 0;
  }
  h6 {
    font-size: 1em;
    font-size: var(--text-regular);
    margin: 0.8em 0;
    margin: var(--space-md) 0;
  }
  small {
    font-size: 0.9em;
    font-size: var(--text-sm);
  }
}
a {
  color: #0d324d;
  color: var(--c-primary);
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
a:hover {
  text-decoration: none;
}
label {
  display: block;
  margin-bottom: 0.25rem;
}
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 1px solid #222;
  border: 1px solid var(--c-black);
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.4rem 0.5rem;
}
code,
kbd,
samp {
  font-family: 'Operator Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
  font-family: var(--font-mono);
}
pre {
  margin-bottom: 2em;
  padding: 1em 0;
  overflow-x: scroll;
  max-width: 100%;
  font-size: 0.9em;
}
.highlight pre {
  padding: 1rem;
}
.cp_embed_wrapper iframe {
  min-height: 450px;
}
blockquote {
  border-left: 5px solid #0d324d;
  border-left: 5px solid var(--c-primary);
  font-style: italic;
  margin-left: 0;
  background: #f5f5f5;
  background: var(--c-off-white);
  padding: 0.1rem 1.5rem;
}
figure {
  border-bottom: 1px solid #9BDEAC;
  border-bottom: 1px solid var(--c-accent);
}
figcaption {
  font-style: italic;
  color: #505050;
  color: var(--c-gray);
  font-size: 0.9em;
  text-align: center;
  padding: 0.2em;
}
.l-post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.l-post-list__item {
  margin-top: 0.75rem;
  padding-bottom: 0.5rem;
}
.l-post-list__item:last-child {
  border: none;
}
.l-post-list__item.with-mb {
  margin-bottom: 1.3rem;
}
@media only screen and (min-width: 768px) {
  .l-post-list--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
  }
}
@media only screen and (min-width: 992px) {
  .l-post-list--grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .l-post-list--grid-thirds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
  }
}
.l-post-list__heading {
  text-align: center;
  margin-bottom: 1.5rem;
}
.l-post-list__actions {
  text-align: center;
}
.l-post-list__heading-title {
  margin: 0;
}
.l-container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media only screen and (min-width: 992px) {
  .l-container.has-toc {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4.5rem;
    max-width: 80rem;
  }
}
@media only screen and (min-width: 768px) {
  .l-homepage {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
.l-touchpoints {
  margin: 0 0 2rem 0;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .l-touchpoints {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
.c-btn {
  font-family: 'PT Serif', serif;
  font-family: var(--font-body-serif);
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 0 0 #f5f5f5, 3px 3px 0 0 #0d324d;
  box-shadow: 1px 1px 0 0 var(--c-off-white), 3px 3px 0 0 var(--c-primary);
  border: 1px solid #0d324d;
  border: 1px solid var(--c-primary);
  transition: background ease 0.2s, color ease 0.2s, box-shadow ease 0.1s, background-size ease 0.2s;
  background-size: 100%;
}
.c-btn:hover,
.c-btn:focus {
  box-shadow: 0 0 0 0 #0d324d;
  box-shadow: 0 0 0 0 var(--c-primary);
}
.c-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.c-btn-primary {
  background-color: #fff;
  background-color: var(--c-white);
  color: #0d324d;
  color: var(--c-primary);
  box-shadow: 3px 3px 0 0 #0d324d;
  box-shadow: 3px 3px 0 0 var(--c-primary);
}
.c-btn-primary:hover {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-image: linear-gradient(315deg, var(--c-secondary) 0%, var(--c-primary) 74%);
  color: #fff;
  color: var(--c-white);
}
.c-btn-primary--inverted {
  background-color: #0d324d;
  background-color: var(--c-primary);
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-image: linear-gradient(315deg, var(--c-secondary) 0%, var(--c-primary) 74%);
  color: #fff;
  color: var(--c-white);
}
.c-btn-primary--inverted:hover {
  background-size: 200%;
  background-color: #fff;
  background-color: var(--c-white);
}
.c-btn--disabled {
  pointer-events: none;
  box-shadow: none;
  opacity: 0.5;
}
.c-btn__icon {
  vertical-align: middle;
}
.c-pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.c-pagination__select {
  display: none;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  .c-pagination__select {
    display: block;
  }
}
@media only screen and (min-width: 576px) {
  .no-js .c-pagination__select {
    display: none;
  }
}
.c-pagination__page-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.33rem 2.05rem 0.33rem 0.75rem;
  background-color: transparent;
  border: 1px solid #0d324d;
  border: 1px solid var(--c-primary);
  color: #0d324d;
  color: var(--c-primary);
  border-radius: 0;
  box-shadow: 3px 3px 0 0 #0d324d;
  box-shadow: 3px 3px 0 0 var(--c-primary);
  transition: box-shadow ease 0.2s, background ease 0.2s, color ease 0.2s;
}
.c-pagination__page-select-container {
  position: relative;
}
.c-pagination__page-select-container:hover .c-pagination__page-select,
.c-pagination__page-select-container:focus .c-pagination__page-select {
  background-color: #0d324d;
  background-color: var(--c-primary);
  color: #fff;
  color: var(--c-white);
  box-shadow: 0 0 0 0 transparent;
}
.c-pagination__page-select-container:hover:after,
.c-pagination__page-select-container:focus:after {
  background-color: #fff;
  background-color: var(--c-white);
}
.c-pagination__page-select-container:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 19px;
  margin-top: -3px;
  display: block;
  width: 15px;
  height: 8px;
  pointer-events: none;
  background-color: #0d324d;
  background-color: var(--c-primary);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.c-touchpoint__title {
  display: inline-block;
  margin-bottom: 0;
  color: #9BDEAC;
  color: var(--c-accent);
  font-family: 'PT Serif', serif;
  font-family: var(--font-headings);
}
@media only screen and (min-width: 768px) {
  .c-touchpoint__title {
    font-size: 1.8rem;
  }
}
.c-wrapper {
  position: relative;
  padding: 2rem 0;
}
@media only screen and (min-width: 768px) {
  .c-wrapper {
    padding: 3rem 0;
  }
}
@media only screen and (min-width: 992px) {
  .c-wrapper {
    padding: 4rem 0;
  }
}
.c-wrapper--light {
  background-color: #f5f5f5;
  background-color: var(--c-off-white);
}
.c-wrapper--dark {
  background-color: #343434;
  background-color: #1c1c1c;
  background-color: var(--c-off-black);
  color: #f5f5f5;
  color: var(--c-off-white);
}
.c-wrapper__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .c-wrapper__title {
    text-align: center;
  }
}
.c-projects {
  margin: 0;
  padding: 0;
  list-style: none;
}
.c-projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.c-projects__item {
  margin-bottom: 2rem;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}
.c-projects__item-title {
  margin-top: 0;
}
.c-projects__item-title-link {
  color: #1c1c1c;
  color: var(--c-off-black);
  text-decoration: none;
  transition: color ease 0.2s;
}
.c-projects__item-title-link:hover,
.c-projects__item-title-link:focus {
  color: #0d324d;
  color: var(--c-primary);
}
.c-hero {
  color: #1c1c1c;
  color: var(--c-hero-text);
  padding: 8rem 0 3rem 0;
  background-color: #7f5a83;
  background-color: var(--c-secondary);
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-image: linear-gradient(315deg, var(--c-secondary) 0%, var(--c-primary) 74%);
  background-size: 200%;
  text-align: center;
  -webkit-animation: hero-bg cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s forwards;
          animation: hero-bg cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
@media only screen and (min-width: 768px) {
  .c-hero {
    padding: 10rem 0 8rem 0;
  }
}
@-webkit-keyframes hero-bg {
  0% {
    background-size: 200%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes hero-bg {
  0% {
    background-size: 200%;
  }
  100% {
    background-size: 100%;
  }
}
.c-hero__title {
  font-size: 30px;
  background-image: linear-gradient(315deg, #7f5a83 0%, #fff 74%);
  background-image: linear-gradient(315deg, var(--c-secondary) 0%, var(--c-white) 74%);
  color: #fff;
  color: var(--c-white);
  mix-blend-mode: screen;
  margin-bottom: 0.5em;
  margin-bottom: var(--space-sm);
  -webkit-animation: hero-text ease 0.6s forwards;
          animation: hero-text ease 0.6s forwards;
  opacity: 0;
}
@media screen and (min-width: 600px) {
  .c-hero__title {
    font-size: calc(30 * 1px + (80 - 30) * ((100vw - 600 * 1px) / (1600 - 600)));
  }
}
@media screen and (min-width: 1600px) {
  .c-hero__title {
    font-size: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .c-hero__title {
    margin-top: 0;
  }
}
@-webkit-keyframes hero-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hero-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.c-hero__cta-link {
  margin-right: 1em;
  color: #fff;
  color: var(--c-white);
  opacity: 0;
  -webkit-animation: hero-text ease 0.4s forwards;
          animation: hero-text ease 0.4s forwards;
}
.c-sticky-list {
  position: relative;
}
.c-sticky-list__title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 2em;
  background-color: #fff;
  background-color: var(--c-white);
}
.c-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}
.c-nav.is-fixed,
.c-nav.is-home,
.has-cover-image .c-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.c-nav.is-fixed,
.has-cover-image .c-nav {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media only screen and (min-width: 576px) {
  .c-nav {
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  .c-nav {
    display: grid;
    grid-template-columns: 100px auto;
  }
}
.c-nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 1rem;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .c-nav__inner {
    width: auto;
    margin-top: 0;
    flex-grow: initial;
    justify-content: initial;
  }
}
.c-nav__link {
  display: block;
  color: #0d324d;
  color: var(--c-primary);
  font-size: 0.9em;
  text-decoration: none;
}
.c-nav__link:hover,
.c-nav__link.is-active {
  color: #7f5a83;
  color: var(--c-secondary);
}
.is-home .c-nav__link {
  color: #fff;
  color: var(--c-white);
}
.is-home .c-nav__link:hover,
.is-home .c-nav__link.is-active {
  color: #c1accd;
  color: var(--c-secondary-light);
}
@media only screen and (min-width: 576px) {
  .c-nav__link {
    margin-right: 1rem;
  }
}
.c-post {
  margin-bottom: 3em;
}
.c-post img:not(.c-post__author-image) {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.c-post:not(.c-post--preview) {
  margin-top: 3rem;
}
.c-post:not(.c-post--preview) .c-post__date {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  color: #505050;
  color: var(--c-grey);
}
@media only screen and (min-width: 992px) {
  .c-post:not(.c-post--preview) {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .has-toc .c-post {
    margin-left: 0;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .c-post:not(.c-post--preview) {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .has-toc .c-post {
    max-width: 80%;
    margin-left: 0;
  }
}
.c-post--preview {
  margin-bottom: 0;
}
.c-post__date {
  display: block;
  color: #505050;
  color: var(--c-grey);
  min-width: 60px;
}
.c-post__title--preview {
  margin: 0;
}
.c-post__title-link {
  font-weight: 400;
  color: #0d324d;
  color: var(--c-primary);
  text-decoration: none;
}
.c-post__title-link:hover {
  color: #7f5a83;
  color: var(--c-secondary);
}
@media only screen and (min-width: 768px) {
  .c-post__title--preview {
    font-size: 1.5em;
    font-size: var(--text-lg);
  }
  .c-post-preview__heading {
    display: flex;
  }
  .c-post-preview__heading .c-post__date {
    margin-right: 0.25rem;
  }
}
.c-post__categories,
.c-post__categories-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.c-post__categories {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.c-post__categories-title {
  font-size: 0.8em;
  position: relative;
  top: 0.1em;
}
.c-post__categories-item {
  margin: 0 0.5rem 0 0;
}
.c-post-preview__heading--stacked {
  display: block;
}
.c-post__date--small {
  font-size: 0.9rem;
}
.c-post__navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.c-post__navigation-item {
  position: relative;
  background-color: #0d324d;
  background-color: var(--c-primary);
  color: #fff;
  overflow: hidden;
  text-decoration: none;
  transition: background-color ease 0.2s, color ease 0.2s;
}
.c-post__navigation-item:hover,
.c-post__navigation-item:active,
.c-post__navigation-item:focus {
  color: #0d324d;
  color: var(--c-primary);
  background-color: #fff;
}
.c-post__navigation-item:hover .c-post__navigation-image,
.c-post__navigation-item:active .c-post__navigation-image,
.c-post__navigation-item:focus .c-post__navigation-image {
  opacity: 0.2;
}
.c-post__navigation-item-text {
  padding: 2rem;
  position: relative;
  z-index: 1;
}
.c-post__navigation-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  mix-blend-mode: multiply;
  opacity: 0.8;
}
.c-post__navigation-item-title {
  font-family: 'PT Serif', serif;
  font-family: var(--font-headings);
  font-size: 1.5em;
  font-size: var(--text-lg);
}
.c-post__author-image {
  display: block;
  float: right;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin-left: 25px;
  width: 100px;
  height: 100px;
}
@media only screen and (min-width: 576px) {
  .c-post__author-image {
    width: 240px;
    height: 240px;
  }
}
.c-post__headline {
  margin-top: 0;
  margin-bottom: 0.8em;
  margin-bottom: var(--space-md);
}
@media only screen and (min-width: 768px) {
  .c-post__columns {
    -webkit-columns: 3;
            columns: 3;
    text-align: left;
    margin-bottom: 0.8em;
    margin-bottom: var(--space-md);
  }
  .c-post__columns p:first-child {
    margin-top: 0;
  }
}
.c-post__cover-image {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50vh;
  overflow: hidden;
  -webkit-transform: translateY(var(--coverImageTranslateY));
          transform: translateY(var(--coverImageTranslateY));
  will-change: transform;
}
.c-post__cover-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .c-post__cover-image {
    height: 70vh;
  }
  .c-post__cover-image img {
    height: auto;
    -o-object-fit: initial;
       object-fit: initial;
  }
}
.c-post__body {
  position: relative;
  z-index: 1;
  padding-top: 2rem;
  background-color: #fff;
  background-color: var(--c-white);
}
.c-post__header,
.c-post__content {
  padding: 0 1rem;
  max-width: 70ch;
  margin: 0 auto;
}
.c-post__content {
  padding-bottom: 3rem;
}
.c-post__content ul {
  list-style: disc;
}
@media only screen and (min-width: 992px) {
  .c-post__image-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
  }
}
.c-post__upvotes {
  display: flex;
  justify-content: flex-end;
  height: 24px;
}
@media only screen and (min-width: 768px) {
  .c-post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.c-footer {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-image: linear-gradient(315deg, var(--c-secondary) 0%, var(--c-primary) 74%);
  color: #fff;
  color: var(--c-white);
  text-align: center;
  padding: 1.5rem 0;
}
.c-footer__link {
  display: block;
  color: #fff;
  color: var(--c-white);
  padding: 0 0.5rem;
}
@media only screen and (min-width: 576px) {
  .c-footer__link {
    padding: 0 1rem;
  }
}
.c-footer__icon {
  color: #fff;
  color: var(--c-white);
  width: 25px;
  height: 25px;
  transition: color ease 0.3s;
}
.c-footer__icons {
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
  position: relative;
  top: 6px;
}
.c-footer__link {
  color: #fff;
  color: var(--c-white);
  text-decoration: none;
}
.c-footer__link:hover .c-footer__icon {
  color: #c1accd;
  color: var(--c-secondary-light);
}
@media only screen and (min-width: 576px) {
  .c-footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .c-footer__icons {
    margin-top: 0;
  }
}
.c-footer__credits {
  font-size: 0.8em;
  margin-bottom: 0;
}
.c-footer__credits a {
  color: #fff;
  color: var(--c-white);
}
.c-toc {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  width: 400px;
  z-index: 2;
  left: 0;
  top: 2rem;
  max-height: 100vh;
  margin-top: 0.8rem;
  padding: 1rem;
}
@media only screen and (min-width: 992px) {
  .c-toc {
    display: block;
  }
}
.c-toc a {
  transition: background ease 0.2s, color ease 0.2s;
}
.c-toc .is-active {
  background-color: #0d324d;
  background-color: var(--c-primary);
  color: #fff;
  color: var(--c-white);
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  .c-toc-container {
    display: flex;
    position: relative;
    background-color: #fff;
  }
}
.c-toc__list-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  top: 0;
  left: 0;
  height: 100vh;
  padding: 10px 10px 15px 10px;
  overflow-y: scroll;
  box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0);
  margin-bottom: 15px;
  transition: box-shadow ease 0.3s, -webkit-transform ease 0.3s;
  transition: transform ease 0.3s, box-shadow ease 0.3s;
  transition: transform ease 0.3s, box-shadow ease 0.3s, -webkit-transform ease 0.3s;
  will-change: transform;
}
.is-active .c-toc__list-container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 992px) {
  .c-toc__list-container {
    padding: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    max-height: 100vh;
    box-shadow: none;
  }
}
.c-toc__toggle {
  display: none;
  position: absolute;
  top: 7.4rem;
  left: 0;
  width: 50px;
  height: 36px;
  overflow: hidden;
  transition: left ease 0.3s;
}
.is-active .c-toc__toggle {
  left: 100%;
}
@media only screen and (min-width: 992px) {
  .c-toc__toggle {
    display: none;
  }
}
.c-toc__title {
  font-family: 'PT Serif', serif;
  font-family: var(--font-headings);
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 992px) {
  .c-toc__title {
    margin-top: 0;
  }
}
[id="TableOfContents"] ul {
  margin: 0;
}
[id="TableOfContents"] a {
  font-size: 0.7em;
}
[id="TableOfContents"] li {
  margin: 0;
}
[id="TableOfContents"] > ul,
[id="TableOfContents"] > ul > li > ul {
  list-style: none;
  padding: 0;
}
.c-page-title {
  margin-top: 3rem;
  text-align: center;
}
.c-upvote-button {
  display: inline-flex;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.c-upvote-button:hover,
.c-upvote-button:focus,
.c-upvote-button.is-active {
  color: #f92986;
}
.c-upvote-button.is-active {
  cursor: default;
  -webkit-animation: heart ease 0.6s;
          animation: heart ease 0.6s;
}
@-webkit-keyframes heart {
  0% {
    -webkit-filter: drop-shadow(0 0 0 #f92986);
            filter: drop-shadow(0 0 0 #f92986);
  }
  100% {
    -webkit-filter: drop-shadow(0 -15px 4px rgba(249, 41, 134, 0));
            filter: drop-shadow(0 -15px 4px rgba(249, 41, 134, 0));
  }
}
@keyframes heart {
  0% {
    -webkit-filter: drop-shadow(0 0 0 #f92986);
            filter: drop-shadow(0 0 0 #f92986);
  }
  100% {
    -webkit-filter: drop-shadow(0 -15px 4px rgba(249, 41, 134, 0));
            filter: drop-shadow(0 -15px 4px rgba(249, 41, 134, 0));
  }
}
.c-upvote-button__icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-center {
  text-align: center;
}


/*# sourceMappingURL=main.css.map*/