<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="4CLP9Nzk8aQmNgM8X5bh-baGaTICG1ta0Z9jXSLvsOc" />
    <title>{{ if not .IsHome}} {{ .Page.Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}{{ end }}">
    {{ partial "social-meta.html" . }}
    
    <link rel="preload" href="/fonts/nunito-v9-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/lora-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin>    
    <link rel="preload" href="/css/main.css" as="style">    
     
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
    <meta name="theme-color" content="#197b8f" />
    
    <link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">

    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
<body>
    
    {{ partial "header.html" . }}
    {{ partial "icons.html" . }}
    
    <main class="content" role="main">
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
     
    <script src="/js/main.js{{ if .Site.BuildDrafts }}?v={{ now.Unix }}{{ end }}" defer></script>

    {{ if not .Site.BuildDrafts }}
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
            (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
    })(document, window, '//tranquil-crag-51785.herokuapp.com/tracker.js', 'fathom');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->
    {{ end }}
</body>
</html>