<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ if not .IsHome}} {{ .Page.Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ if not .IsHome}} {{ .Page.Description }} | {{ else }}TJ Fogarty is a web developer from Limerick, Ireland. He specialises in JavaScript, CSS, and PHP.{{ end }}">
    <link rel="preload" href="/fonts/alegreya.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/alegreya-sans.woff2" as="font" type="font/woff2" crossorigin>    
     
    <style>
         {{ readFile "themes/nua/static/assets/css/app.css" | safeCSS }}
     </style>
    
    <meta name="theme-color" content="#197b8f" />
    
    <link rel="manifest" href="/manifest.json">

    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
<body>
    
    {{ partial "header.html" . }}
    {{ partial "icons.html" . }}
    
    <main class="content" role="main">
        {{ block "main" . }}{{ end }}
    </main>
    
     {{ partial "footer.html" . }}
    
    <script src="/assets/js/main.js" defer></script>
</body>
</html>