{{ define "main" }}
<div class="l-container {{ if .Params.toc }} has-toc {{ end }}">
  {{ if .Params.toc }}
    <aside class="c-toc js-toc">
      <div class="c-toc__list-container js-toc-list" tabindex="-1">
        <p class="c-toc__title">Table of Contents</h2>
        {{ .TableOfContents }}
      </div>
      <button type="button" class="c-toc__toggle js-toc-toggle c-btn c-btn-primary" aria-label="Table of Contents">
        <svg>
          <use xlink:href="#list"></use>
        </svg>
      </button>
    </aside>
  {{ end }}
  <article class="c-post" itemscope itemtype="http://schema.org/Article">
    <div class="c-post__header">

      <time class="c-post__date" itemprop="datePublished" datetime="{{ .PublishDate }}">
        {{ .PublishDate.Format "2 January 2006" }}
      </time>

      <h1 itemprop="name headline" class="c-post__headline">{{ .Title }}</h1>

    </div>

    <div class="c-post__content">
      {{ .Content }}
    </div>

    {{ if .Params.Categories }}
      <div class="c-post__categories">
        <small class="c-post__categories-title">Categories: &nbsp;</small>
        <ul class="c-post__categories-list">
          {{ range .Params.Categories }}
          <li class="c-post__categories-item">
            <a href="/category/{{ . | urlize }}">
              <small>{{ . }}</small>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

    <div class="c-post__navigation">
      {{ with .NextInSection }}
      <p>Next: <a rel="next" href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
      {{ with .PrevInSection }}
      <p>Previous: <a rel="prev" href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
    </div>
  </article>
</div>

<div class="c-wrapper c-wrapper--light">
  <div class="l-container">
    <div class="c-post">
      <h3 id="comments">Comments</h4>

      <p>I accept comments via email, and clicking "Add Comment" will open your default email client. If the thoughts of your native email client opening horrifies you, you can instead email your comment to contact@tj.ie.</p>

      <a class="c-btn c-btn-primary" href="mailto:contact@tj.ie?subject=Comment - {{ .Title }}">Add Comment</a>
    </div>
  </div>
</div>
{{ end }}
