:root {
  // Colours
  --c-primary: #af074d;
  --c-secondary: #B48CA3;
  --c-accent: #9BDEAC;
  --c-hero-bg: #EAD3C1;
  --c-hero-text: var(--c-off-black);
  --c-hero-highlight: #5d4854;
  --c-black: #222;
  --c-off-black: #1c1c1c;
  --c-white: #fff;
  --c-off-white: #f5f5f5;
  --c-almost-white: #f2f3f4;
  --c-gray: #505050;
  --c-grey: #505050;

  // Fonts
  --font-body: 'PT Sans', sans-serif;
  --font-body-serif: 'PT Serif', serif;
  --font-headings: 'PT Serif', serif;
  --font-mono: 'Operator Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';

  // Font sizes
  --text-sm: 0.9em;
  --text-regular: 1em;
  --text-md: 1.2em;
  --text-lg: 1.5em;
  --text-xl: 2em;
  --text-xxl: 3em;
  --text-xxxl: 4em;

  // Spacing
  --space-sm: .5em;
  --space-md: .8em;
  --space-lg: 1.5em;
  --space-xl: 3.5em;
  --space-xxl: 5em;
}

@mq-sm: ~"only screen and (min-width: 576px)";
@mq-md: ~"only screen and (min-width: 768px)";
@mq-lg: ~"only screen and (min-width: 992px)";
@mq-xl: ~"only screen and (min-width: 1200px)";
