{{ define "main" }}
<div class="l-container">
  <div class="c-post">
    <div>
      <h1 class="mt-0">{{ .Title }}</h1>

      <p>I’m <span class="caps">TJ</span>, a&nbsp;web devel­op­er from Lim­er­ick, Ire­land 🇮🇪 and liv­ing in Water­ford. I&nbsp;most­ly hang around the front-end devel­op­ment side of things, but I&nbsp;know enough to be dan­ger­ous with the likes of <span class="caps">PHP</span> and Node as&nbsp;well.</p>
      
      <p>I enjoy work­ing with JavaScript (React and Vue), Node, <span class="caps">PHP</span> (Craft <span class="caps">CMS</span>, Word­Press, Lar­avel, Expres­sio­nEngine), and <span class="caps">CSS</span> (Sass, Less, good <span class="push-single"></span>​<span class="pull-single">‘</span>ol vanil­la <span class="caps">CSS</span>). Spend­ing all these years work­ing with such fun tech­nolo­gies reminds me that just because you can do it, def­i­nite­ly means you should.</p>
      
      <p>Pre­vi­ous­ly, I’ve worked for ResourceKraft as a&nbsp;Designer/​Developer, Mav­er­ick as the Lead Devel­op­er, and Emag­ine as a&nbsp;Web Devel­op­er and then Tech­ni­cal Lead. At the moment I’m a&nbsp;<span class="caps">UI</span> Devel­op­er at Stitcher­Ads where I’m devel­op­ing a&nbsp;com­po­nent library and design system.</p>
      
      <p>You can find me at the links&nbsp;below:</p>
      
      <ul class="list-reset">
        <li>
          <a href="https://twitter.com/tj_fogarty" target="_blank" rel="noopener">Twit­ter</a>
        </li>
      
        <li>
          <a href="https://github.com/tjFogarty" target="_blank" rel="noopener">GitHub</a>
        </li>
      
        <li>
          <a href="https://codepen.io/tjFogarty/" target="_blank" rel="noopener">Code­Pen</a>
        </li>
      </ul>
      
      <h2 id="features">Fea­tures <a class="anchor" href="#features" title="Features">#</a></h2>
      
      <p>Some folks on the inter­net think I&nbsp;don’t spout total non­sense. It’s news to me, but here’s some&nbsp;proof:</p>
      
      <ul>
        <li><a href="https://css-tricks.com/timber-and-twig-reignited-my-love-for-wordpress/" target="_blank" rel="noopener">Tim­ber
            and Twig Reignit­ed my Love for Word­Press on CSS-Tricks</a></li>
        <li><a href="https://www.getrevue.co/profile/alligatorio/issues/vuepress-vue-dropzone-css-position-sticky-react-loadable-unstated-getting-started-with-nuxt-js-107443"
            target="_blank" rel="noopener"><span class="dquo">“</span>Do Not Track” fea­tured on an Alli​ga​tor​.io newsletter</a></li>
        <li><a href="http://craftlinklist.com/issues/61" target="_blank" rel="noopener">Buil­ing my Site series on Craft Link List
            Newsletter</a></li>
        <li><a href="https://tympanus.net/codrops/collective/collective-390/" target="_blank" rel="noopener"><span class="caps">DIY</span>
            <span class="caps">RSS</span> Read­er fea­tured in a&nbsp;Codrops Collective</a></li>
        <li><a href="https://codepen.io/spark/63" target="_blank" rel="noopener">Craft Plu­g­in Search fea­tured on Code­Pen&nbsp;Spark</a></li>
      </ul>
      
    </div>
  </div>
</div>
{{ end }}