{{ define "main" }}
<div class="l-container">
  <div class="c-post text-center">
    <h1 class="mt-0">{{.Title}}</h1>

    {{ $categories := .Site.Taxonomies.categories }}
    {{ $len := (len $categories) }}

    <p>Browse by category:
      {{ range $key, $value := $categories }}
      <a href="/category/{{ $key | urlize  }}">{{ $key }}</a>,
      {{ end }}
    </p>
  </div>
</div>

<div class="l-container">
  <div class="c-post">
    {{ range (where .Site.RegularPages "Section" "posts").GroupByDate "2006" }}
    <div class="c-sticky-list">
      <h2 class="c-sticky-list__title">{{ .Key }}</h2>
      <ul class="l-post-list">
        {{ range .Pages }}
        <li class="l-post-list__item">
          <div class="c-post c-post--preview">
            <div class="c-post-preview__heading">
              <time class="c-post__date" datetime="{{ .PublishDate }}">
                {{ .PublishDate.Format "2 Jan" }}
              </time>

              <div>
                <h3 class="c-post__title c-post__title--preview">
                  <a class="c-post__title-link" href="{{ .Permalink }}">{{ .Title }}</a>
                </h3>
                <p>{{ .Description }}</p>
              </div>
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
