{{ define "main" }}

<div class="c-hero">
    <div class="c-hero__content">
        <div class="l-container">
            <div class="c-hero__content-inner">
                <div>
                    <h1 class="c-hero__title">I'm TJ, a <span class="c-hero__title-highlight">web developer</span> from Limerick, Ireland</h1>
                    <div class="c-hero__cta">
                        <a href="#featured-projects" class="c-btn c-btn-primary--inverted c-btn--large">Featured Projects</a>
                        <a href="#latest-posts" class="c-btn c-btn-primary c-btn--large">Latest Posts</a>
                    </div>
                </div>
                <img
                    class="c-hero__image"
                    sizes="(max-width: 766px) 100vw, 400px"
                    srcset="https://res.cloudinary.com/dab4jaczr/image/upload/f_auto,w_350/v1536939330/tj-bw_lvigai.jpg 350w,
                    https://res.cloudinary.com/dab4jaczr/image/upload/f_auto,w_500/v1536939330/tj-bw_lvigai.jpg 500w,
                    https://res.cloudinary.com/dab4jaczr/image/upload/f_auto,w_600/v1536939330/tj-bw_lvigai.jpg 600w"
                    src="https://res.cloudinary.com/dab4jaczr/image/upload/f_auto,w_350/v1536939330/tj-bw_lvigai.jpg"
                    alt="TJ Fogarty">
            </div>
        </div>
    </div>
</div>

<div class="c-wrapper c-wrapper--dark">
    <div class="l-container">
        <h2 class="c-wrapper__title">Powered by Coffee & Process</h2>
        {{ partial "about-blurb.html" . }}
    </div>
</div>

<div class="c-wrapper" id="featured-projects">
    <div class="l-container">
        {{ partial "featured-projects.html" . }}
    </div>
</div>

<div class="c-wrapper c-wrapper--light" id="latest-posts">
    <div class="l-container">
        {{ partial "latest-posts.html" . }}
    </div>
</div>

{{ end }}