html {
  font-size: 1.125em;
  will-change: opacity;

  &.wf-loading {
    opacity: 0;
  }

  &.wf-active {
    transition: opacity ease 0.2s;
    opacity: 1;
  }

  &.wf-inactive,
  &.no-js  {
    opacity: 1;
  }
}

body {
  font-family: var(--font-body);
  background-color: var(--c-white);
  color: var(--c-off-black);
  line-height: 1.735;
}

::selection {
  background-color: var(--c-primary);
  color: var(--c-white);
}

.content {
  min-height: calc(100vh - 71px - 171px);
}
