html {
  font-size: 1.125em;
}

body {
  font-family: var(--font-body);
  background-color: var(--c-white);
  color: var(--c-off-black);
  line-height: 1.735;
}

::selection {
  background-color: var(--c-primary);
  color: var(--c-white);
}

.content {
  min-height: calc(100vh - 67px - 79px);
}