<img
  class="lazy"
  data-src="https://res.cloudinary.com/dab4jaczr/image/upload/w_600,f_auto,q_auto/v1536498344/{{ .Get "src" }}"
  data-sizes="(min-width: 922px) 708px, 100vw"
  data-srcset="https://res.cloudinary.com/dab4jaczr/image/upload/w_400,f_auto,q_auto/v1536498344/{{ .Get "src" }} 400w,
  https://res.cloudinary.com/dab4jaczr/image/upload/w_600,f_auto,q_auto/v1536498344/{{ .Get "src" }} 600w,
  https://res.cloudinary.com/dab4jaczr/image/upload/w_710,f_auto,q_auto/v1536498344/{{ .Get "src" }} 710w,
  https://res.cloudinary.com/dab4jaczr/image/upload/w_800,f_auto,q_auto/v1536498344/{{ .Get "src" }} 800w"
  alt="{{ .Get "alt" }} "
/>

<noscript>
  <img
    sizes="(min-width: 922px) 708px, 100vw"
    srcset="https://res.cloudinary.com/dab4jaczr/image/upload/w_400,f_auto,q_auto/v1536498344/{{ .Get "src" }} 400w,
    https://res.cloudinary.com/dab4jaczr/image/upload/w_600,f_auto,q_auto/v1536498344/{{ .Get "src" }} 600w,
    https://res.cloudinary.com/dab4jaczr/image/upload/w_710,f_auto,q_auto/v1536498344/{{ .Get "src" }} 710w,
    https://res.cloudinary.com/dab4jaczr/image/upload/w_800,f_auto,q_auto/v1536498344/{{ .Get "src" }} 800w"
    src="https://res.cloudinary.com/dab4jaczr/image/upload/w_600,f_auto,q_auto/v1536498344/{{ .Get "src" }}"
    alt="{{ .Get "alt" }} "
  />
</noscript>
