<img 
  class="lazy"
  sizes="(min-width: 922px) 708px, 100vw"
  data-srcset="https://res.cloudinary.com/dab4jaczr/image/upload/w_400/v1536498344/{{ .Get "src" }} 400w,
  https://res.cloudinary.com/dab4jaczr/image/upload/w_600/v1536498344/{{ .Get "src" }} 600w,
  https://res.cloudinary.com/dab4jaczr/image/upload/w_700/v1536498344/{{ .Get "src" }} 700w,
  https://res.cloudinary.com/dab4jaczr/image/upload/w_800/v1536498344/{{ .Get "src" }} 800w,
  https://res.cloudinary.com/dab4jaczr/image/upload/w_1000/v1536498344/{{ .Get "src" }} 1000w,
  https://res.cloudinary.com/dab4jaczr/image/upload/w_1200/v1536498344/{{ .Get "src" }} 1200w"
  data-src="https://res.cloudinary.com/dab4jaczr/image/upload/w_800/v1536498344/{{ .Get "src" }}" 
  alt="{{ .Get "alt" }} "
/>

<noscript>
  <img 
    sizes="(min-width: 922px) 708px, 100vw"
    srcset="https://res.cloudinary.com/dab4jaczr/image/upload/w_400/v1536498344/{{ .Get "src" }} 400w,
    https://res.cloudinary.com/dab4jaczr/image/upload/w_600/v1536498344/{{ .Get "src" }} 600w,
    https://res.cloudinary.com/dab4jaczr/image/upload/w_700/v1536498344/{{ .Get "src" }} 700w,
    https://res.cloudinary.com/dab4jaczr/image/upload/w_800/v1536498344/{{ .Get "src" }} 800w,
    https://res.cloudinary.com/dab4jaczr/image/upload/w_1000/v1536498344/{{ .Get "src" }} 1000w"
    src="https://res.cloudinary.com/dab4jaczr/image/upload/w_800/v1536498344/{{ .Get "src" }}" 
    alt="{{ .Get "alt" }} "
  />
</noscript>