<footer class="c-footer">
  <div class="l-container">
    <div class="c-footer__inner">
      <div class="c-footer__icons">
        <a href="https://codepen.io/tjFogarty" target="_blank" rel="noopener noreferrer" class="c-footer__link" aria-label="CodePen">
          <svg class="c-footer__icon">
            <use xlink:href="#codepen"></use>
          </svg>
        </a>

        <a href="https://twitter.com/tj_fogarty" target="_blank" rel="noopener noreferrer" class="c-footer__link" aria-label="Twitter">
          <svg class="c-footer__icon">
            <use xlink:href="#twitter"></use>
          </svg>
        </a>

        <a href="https://www.instagram.com/tj.fogarty/" target="_blank" rel="noopener noreferrer" class="c-footer__link" aria-label="Instagram">
          <svg class="c-footer__icon">
            <use xlink:href="#instagram"></use>
          </svg>
        </a>

        <a href="https://github.com/tjFogarty" target="_blank" rel="noopener noreferrer" class="c-footer__link" aria-label="GitHub">
          <svg class="c-footer__icon">
            <use xlink:href="#github"></use>
          </svg>
        </a>

        <a href="https://www.linkedin.com/in/fogartytj" target="_blank" rel="noopener noreferrer" class="c-footer__link" aria-label="LinkedIn">
          <svg class="c-footer__icon">
            <use xlink:href="#linkedin"></use>
          </svg>
        </a>

        <a href="/index.xml" class="c-footer__link" aria-label="RSS Feed">
          <svg class="c-footer__icon">
            <use xlink:href="#rss"></use>
          </svg>
        </a>
      </div>

      &copy; TJ Fogarty {{ now.Format "2006"}}

      <p class="c-footer__credits">Icons by <a href="https://feathericons.com/" target="_blank" rel="noopener noreferrer">Feather</a></p>
      <p class="c-footer__credits">PT Sans & PT Serif &copy; ParaType Ltd.</p>
    </div>
  </div>
</footer>
