<nav class="c-nav{{ if .IsHome }} is-fixed{{ end }}" role="navigation">
  <div class="c-nav__title-container">
    <a href="/" class="c-nav__logo-container" title="Home">
      <span class="c-nav__logo" aria-label="Home"></span>
    </a>
  </div>
  <div class="c-nav__inner">
    <a href="/archive/" class="c-nav__link">
      Archive
    </a>
    <a href="/projects/" class="c-nav__link">
      Projects
    </a>
    <a href="/about/" class="c-nav__link">
      About
    </a>
    <a href="/contact/" class="c-nav__link">
      Contact
    </a>
  </div>
</nav>