<nav class="c-nav{{ if .IsHome }} is-fixed{{ end }}" role="navigation">
  <div class="c-nav__title-container">
    <a href="/" class="c-nav__logo-container">
      <span class="c-nav__logo" aria-label="Home"></span>
    </a>
  </div>
  <div class="c-nav__inner">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a 
      href="{{ .URL }}" 
      class="c-nav__link {{ if $currentPage.IsMenuCurrent "main" . }}is-active{{ end }}"
    >
      {{ .Name }}
    </a>
    {{ end }}
  </div>
</nav>