<div class="l-post-list-container">
  <ul class="l-post-list l-post-list--grid-thirds">
    {{ range first 3 (where .Pages "Section" "posts") }}
    <li class="l-post-list__item">
      <div class="c-post c-post--preview">
        <div class="c-post-preview__heading c-post-preview__heading--stacked">
          <time class="c-post__date c-post__date--small" datetime="{{.PublishDate}}">
            {{.PublishDate.Format "2 Jan"}}
          </time>

          <h4 class="c-post__title c-post__title--preview">
            <a class="c-post__title-link" href="{{.Permalink}}">
              {{.Title}}
            </a>
          </h4>

          <p>
            {{ if .Description }}
            {{ .Description }}
            {{ else }}
            {{ .Summary }}
            {{ end }}
          </p>
        </div>
      </div>
    </li>
    {{ end }}
  </ul>

  <div class="l-post-list__actions">
    <a class="c-btn c-btn-primary--inverted" href="/archive/">View Archive</a>
  </div>
</div>
